html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 100vh;
  float: right;
}

input {
  width: 15rem;
}

label {
  width: 100px;
  margin-right: 250px;
}

img {
  max-width: 100%;
  max-height:100%;
}

.inputs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  gap: 10px;
}


.image-container {
  display: flex;
  max-width: 800px;
  width: 40vw;
  height: 100vh; 
  position: absolute;
}

.logo {
  max-width: 800px;
  width: 40vw;
  height: 10rem;
  position: absolute;
  top: 100px;
  background-color: black;
  opacity: 40%;
}

.create-account-btn {
  width: 10rem;
  height: 2rem;
  font-weight: bold;
}