.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50vw;
  float: right;
}

input {
  width: 15rem;
  margin-right: 100px;
}

label {
  width: 100px;
  margin-right: 250px;
}

h1 {
  text-align: left;
  
}

.inputs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50vw;
  gap: 15px;
  align-items: flex-start;  
}

