.form-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  float: right;
}

input {
  width: 15rem;
}

label {
  width: 100px;
  margin-right: 250px;
}

img {
  max-width: 100%;
  max-height:100%;
}

h1 {
  text-align: left;
  
}

.inputs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50vw;
  gap: 10px;
  align-content: flex-start;
  border: 1px solid black;
  padding: 10px;
}


.image-container {
  display: flex;
  width: 40vw;
  height: 100vh; 
}
